<!DOCTYPE html>
<html>
  <head th:fragment="sitemapFragmentHead">
    <link rel="stylesheet" href="/styles/sitemap/index.css" />
  </head>
  <body>
    <div th:fragment="sitemapFragment" class="container">
      <div class="sub-title-area">
        <div class="big-menu-button">News</div>

        <div class="small-menu-button"><a href="/news">News</a></div>
      </div>

      <div class="sub-title-area">
        <div class="big-menu-button">Professor</div>

        <div class="small-menu-button"><a href="/professor">Professor</a></div>
      </div>

      <div class="sub-title-area">
        <div class="big-menu-button">Members</div>

        <div class="small-menu-button"><a href="/current">Current</a></div>

        <div class="small-menu-button"><a href="/alumni">Alumni</a></div>

        <div class="small-menu-button">
          <a href="/future_prospective">Future prospective</a>
        </div>
      </div>

      <div class="sub-title-area">
        <div class="big-menu-button">Researches</div>

        <div class="small-menu-button">
          <a href="/groupMissionStatement">Group mission statement</a>
        </div>

        <div class="small-menu-button">
          <a href="/researchTopics">Research topics</a>
        </div>

        <div class="small-menu-button">
          <a href="/instruments">Instruments </a>
        </div>
      </div>

      <div class="sub-title-area">
        <div class="big-menu-button">Publications</div>

        <div class="small-menu-button"><a href="/journals">Journals</a></div>

        <div class="small-menu-button"><a href="/patents">Patents</a></div>
      </div>

      <div class="sub-title-area">
        <div class="big-menu-button">Lectures</div>

        <div class="small-menu-button"><a href="/lectures">Lectures</a></div>
      </div>

      <div class="sub-title-area">
        <div class="big-menu-button">Gallery</div>

        <div class="small-menu-button"><a href="/gallery">Gallery</a></div>
      </div>

      <div class="sub-title-area">
        <div class="big-menu-button">Links</div>

        <div class="small-menu-button"><a href="/links">Links</a></div>

        <div class="small-menu-button">
          <a href="/collaborations">Collaborations</a>
        </div>

        <div class="small-menu-button">
          <a href="/funding_sources">Funding sources</a>
        </div>
      </div>
    </div>
  </body>
</html>
