<!DOCTYPE html>
<html>
  <head th:fragment="sitemapFragmentHead">
    <link rel="stylesheet" href="/styles/sitemap/index.css" />
  </head>
  <body>
    <div th:fragment="sitemapFragment" class="container">
      <div class="sub-title-area">
        <div>News</div>
        <a href="/news">
          <div>News</div>
        </a>
      </div>

      <div class="sub-title-area">
        Professor
        <a href="/professor">
          <div>Professor</div>
        </a>
      </div>

      <div class="sub-title-area">
        Members
        <a href="/current">
          <div>Current</div>
        </a>
        <a href="/alumni">
          <div>Alumni</div>
        </a>
        <a href="/future_prospective">
          <div>Future prospective</div>
        </a>
      </div>

      <div class="sub-title-area">
        Researches
        <a href="/groupMissionStatement">
          <div>Group mission statement</div>
        </a>
        <a href="/researchTopics">
          <div>Research topics</div>
        </a>
        <a href="/instruments">
          <div>Instruments</div>
        </a>
      </div>

      <div class="sub-title-area">
        Publications
        <a href="/journals">
          <div>Journals</div>
        </a>
        <a href="/patents">
          <div>Patents</div>
        </a>
      </div>

      <div class="sub-title-area">
        Lectures
        <a href="/lectures">
          <div>Lectures</div>
        </a>
      </div>

      <div class="sub-title-area">
        Gallery
        <a href="/gallery">
          <div>Gallery</div>
        </a>
      </div>

      <div class="sub-title-area">
        Links
        <a href="/links">
          <div>Links</div>
        </a>
        <a href="/collaborations">
          <div>Collaborations</div>
        </a>
        <a href="/funding_sources">
          <div>Funding sources</div>
        </a>
      </div>
    </div>
  </body>
</html>
