<!DOCTYPE html>
<html>
  <head th:fragment="instrumentsAddFragmentHead"> </head>
  <body>
    <div th:fragment="instrumentsAddFragment" class="container">
      <form
        action="/instruments/add"
        method="post"
        class="container"
        enctype="multipart/form-data"
      >
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="제목"
        />
        <div></div>
        <div class="form-floating mb-3">
          사진<input type="file" name="image" />
        </div>
        <button class="btn btn-primary">글올리기</button>
      </form>
    </div>
  </body>
</html>
