<!DOCTYPE html>
<html>
  <head th:fragment="instrumentsFragmentHead">
    <link rel="stylesheet" href="/styles/researches/instruments.css" />
  </head>
  <body>
    <div th:fragment="instrumentsFragment" class="container">
      <div th:each="item:${list}" th:object="${item}" class="item-area">
        <div class="item-image-area">
          <img th:src="@{*{image}}" alt="" />
        </div>
        <div th:text="*{title}" class="item-title-area"></div>
      </div>
      <div class="d-flex justify-content-center">
        <nav
          aria-label="Page navigation example"
          th:with="nowPage=${#numbers.formatInteger(param.page !=null ? param.page:1,1)}"
        >
          <ul class="pagination">
            <li class="page-item" th:if="${nowPage}>1">
              <a
                class="page-link"
                th:href="@{/instruments(page=${nowPage-1})}"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li
              th:each="page :${#numbers.sequence(1,pageCount)}"
              class="page-item"
            >
              <a class="page-link" th:href="@{/instruments(page=${page})}"
                >[[${page}]]</a
              >
            </li>

            <li class="page-item" th:if="${nowPage} != ${pageCount}">
              <a
                class="page-link"
                th:href="@{/instruments(page=${nowPage}+1)}"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <a
        href="/instruments/add"
        th:if="${session.isLogin != null} and ${session.isManager == 1}"
      >
        <button>추가</button>
      </a>
    </div>
  </body>
</html>
