<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/manager/index.css" />
    <title>관리페이지</title>
  </head>
  <body>
    <div id="root" class="container">
      <div class="d-flex justify-content-center">
        <div>관리페이지</div>
      </div>
      <div class="d-flex">
        <div class="left-area">
          <form action="">
            <input type="text" />
            <button>검색</button>
          </form>
          <div>
            <table class="table">
              <thead class="table-group-divider">
                <tr>
                  <th scope="col">이름</th>
                  <th scope="col">이메일</th>
                  <th scope="col">관리여부</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item:${list}" th:object="${item}">
                  <td><a th:href="@{/manager(id=*{id})}">[[*{name}]]</a></td>
                  <td th:text="*{email}"></td>
                  <td th:if="*{isManager}==1" th:text="관리자"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center">
            <nav
              aria-label="Page navigation example"
              th:with="nowPage=${#numbers.formatInteger(param.page !=null ? param.page:1,1)}"
            >
              <ul class="pagination">
                <li class="page-item" th:if="${nowPage}>1">
                  <a
                    class="page-link"
                    th:href="@{/manager(page=${nowPage-1})}"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li
                  th:each="page :${#numbers.sequence(1,pageCount)}"
                  class="page-item"
                >
                  <a class="page-link" th:href="@{/manager(page=${page})}"
                    >[[${page}]]</a
                  >
                </li>

                <li class="page-item" th:if="${nowPage} != ${pageCount}">
                  <a
                    class="page-link"
                    th:href="@{/manager(page=${nowPage}+1)}"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="right-area">
          <div th:if="${choiceMember!=null}">
            <form action="">
              <select name="category" id="">
                <option th:value="${choiceMember.category}">
                  현재 카테고리 : [[${choiceMember.category}]]
                </option>
                <option value="-">제거</option>
                <option value="professor">professor</option>
                <option value="graduate">graduate</option>
                <option value="undergraduate">undergraduate</option>
                <option value="visiting">visiting</option>
                <option value="researchers">researchers</option>
                <option value="administrative">administrative</option>
                <option value="alumni_ph">Alumni Ph.D</option>
                <option value="alumni_ms">Alumni M.S.</option>
                <option value="alumni_researcher">Alumni Researchers</option>
                <option value="alumni_visit">
                  Alumni Undergraduates / Visiting students
                </option>
              </select>
              <div>
                영어 이름 :
                <input
                  type="text"
                  name="englishName"
                  th:value="${choiceMember.englishName}"
                />
              </div>
              <div>
                이름 :
                <input
                  type="text"
                  name="name"
                  th:value="${choiceMember.name}"
                />
              </div>
              <div>
                직책 :
                <input
                  type="text"
                  name="position"
                  th:value="${choiceMember.position}"
                />
              </div>
              <div>
                대표작 :
                <input
                  type="text"
                  name="info"
                  th:value="${choiceMember.info}"
                />
              </div>
              <div>
                이메일 :
                <input
                  type="email"
                  name="email"
                  th:value="${choiceMember.email}"
                />
              </div>
              <div>
                교수님 작성 구역
                <div>
                  <input type="text" name="chineseName" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
