<!DOCTYPE html>
<html>
  <head th:fragment="linksFragmentHead">
    <link rel="stylesheet" href="/styles/links/links.css" />
  </head>
  <body>
    <div th:fragment="linksFragment" class="container">
      <div class="out-div">
        <div th:each="item:${list}" th:object="${item}" class="item-area">
          <a th:href="@{{link}(link=*{link})}">
            <div th:utext="*{image}"></div>
          </a>
        </div>
      </div>

      <a
        href="/links/add"
        th:if="${session.isLogin != null} and ${session.isManager == 1}"
      >
        <button>추가</button>
      </a>
    </div>
  </body>
</html>
