<!DOCTYPE html>
<html>
  <head th:fragment="linksAddFragmentHead"> </head>
  <body>
    <div th:fragment="linksAddFragment" class="container">
      <form action="/links/add" method="post" enctype="multipart/form-data">
        <select name="category" id="">
          <option value="links">Links</option>
          <option value="funding_sources">Funding sources</option>
        </select>
        <input type="text" name="link" placeholder="링크" />
        이미지 <input type="file" name="image" />

        <button>추가</button>
      </form>
    </div>
  </body>
</html>
