<!DOCTYPE html>
<html>
  <head th:fragment="linksAddFragmentHead"> </head>
  <body>
    <div th:fragment="linksAddFragment" class="container">
      <form action="/links/add" method="post">
        <select name="category" id="">
          <option value="links">Links</option>
          <option value="funding_sources">Funding sources</option>
        </select>
        <input type="text" name="link" placeholder="링크" />
        <button>추가</button>
      </form>

      <textarea
        class="form-control"
        name="image"
        placeholder="이미지"
        id="floatingTextarea"
      ></textarea>

      <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
      <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/translations/ko.js"></script>
      <script>
        ClassicEditor.create(document.getElementById("floatingTextarea"), {
          language: "ko",
          ckfinder: { uploadUrl: "/upload" },
        });
      </script>
    </div>
  </body>
</html>
