.sub-title-area {
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #003777;
}
.graduate-area {
  width: 45%;
  display: inline-table;
  min-height: 349px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px 25px 20px;
  border: 1px solid #bcc2c9;
  border-radius: 9px;
}
.english-name-area {
  font-size: 18px;
  color: #999;
  font-weight: 700;
}
.name-area {
  font-size: 24px;
  font-weight: 700;
}
.position-area {
  font-size: 18px;
  font-weight: 700;
  color: #999;
}
.info-area {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.email-area {
  color: #003777;
  font-size: 16px;
}

.career-area {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.image-area {
  width: 124px;
  height: 124px;
  margin-right: 25px;
  border-radius: 9px;
  overflow: hidden;
}
