<!DOCTYPE html>
<html>
  <head th:fragment="professorFragmentHead">
    <link rel="stylesheet" href="/styles/professor/index.css" />
  </head>
  <body>
    <div th:fragment="professorFragment" class="container">
      <div class="professor-info-area">
        <div>Byeong-Su Kim/김병수/金兵洙</div>
        <div>
          Professor (2021.3 ~) <br />
          Department of Chemistry, College of Science, Yonsei University
        </div>
        <div>
          Science Hall (rm442), 50 Yonsei-ro, Department of Chemistry, Yonsei
          University, <br />
          Seoul 03722, Republic of Korea
        </div>
        <div class="d-flex justify-content-between">
          <div>bskim19@yonsei.ac.kr</div>
          <div>(02)2123-2636</div>
          <div>Google Scholar</div>
        </div>
      </div>
      <div class="sub-title">
        Education and Professional Career
        <div></div>
      </div>
      <div class="sub-title">
        Honors And Awards
        <div></div>
      </div>
    </div>
  </body>
</html>
