<!DOCTYPE html>
<html>
  <head th:fragment="currentGroupMemberFragmentHead">
    <link rel="stylesheet" href="/styles/members/current.css" />
  </head>
  <body>
    <div th:fragment="currentGroupMemberFragment" class="container">
      <div>
        <div class="sub-title-area">Graduate Students</div>
        <div>
          <div
            th:each="item:${graduateList}"
            th:object="${item}"
            class="graduate-area"
          >
            <form
              th:if="${session.isLogin != null} and ${session.isManager == 1}"
              action="/current/careerAdd"
              method="post"
            >
              <input type="hidden" name="memberId" th:value="*{id}" />
              <input name="title" type="text" placeholder="직책" />
              <select name="university" id="">
                <option
                  th:each="item:${universityList}"
                  th:object="${item}"
                  th:value="*{id}"
                >
                  [[*{content}]]
                </option>
              </select>
              <div>
                시작일 : <input type="month" name="start" /> 종료일 :
                <input type="month" name="end" />
              </div>
              <div>협력 : <input type="text" name="content" /></div>
              <button>추가</button>
            </form>
            <div class="d-flex">
              <div class="image-area">
                <img th:src="@{*{image}}" alt="" class="image-area-inner" />
              </div>
              <div>
                <div th:text="*{englishName}" class="english-name-area"></div>
                <div th:text="*{name}" class="name-area"></div>
                <div th:text="*{position}" class="position-area"></div>
              </div>
            </div>
            <div th:text="*{info}" class="info-area"></div>
            <div
              th:each="careers:${careersList}"
              th:object="${careers}"
              class="career-area"
              th:if="${careers.memberId}==${item.id}"
            >
              <span>[[*{title}]]</span>
              <span>[[*{universityName}]]</span>
              (
              <span th:if="*{start}!=null"
                >[[*{start.getYear()}+1900]].[[*{start.getMonth()}+1]] -</span
              >
              <span th:if="*{end}!=null"
                >[[*{end.getYear()}+1900]].[[*{end.getMonth()}+1]]</span
              >
              )
              <div
                th:if="${session.isLogin != null} and ${session.isManager == 1}"
              >
                <form action="/current/careerDelete" method="post">
                  <input type="hidden" name="id" th:value="*{id}" />
                  <button>삭제</button>
                </form>
              </div>
            </div>
            <div th:text="*{email}" class="email-area"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="sub-title-area">Researchers</div>
        <div>
          <div
            th:each="item:${researchersList}"
            th:object="${item}"
            class="graduate-area"
          >
            <form
              th:if="${session.isLogin != null} and ${session.isManager == 1}"
              action="/current/careerAdd"
              method="post"
            >
              <input type="hidden" name="memberId" th:value="*{id}" />
              <input name="title" type="text" placeholder="직책" />
              <select name="university" id="">
                <option
                  th:each="item:${universityList}"
                  th:object="${item}"
                  th:value="*{id}"
                >
                  [[*{content}]]
                </option>
              </select>
              <div>
                시작일 : <input type="month" name="start" /> 종료일 :
                <input type="month" name="end" />
              </div>
              <div>협력 : <input type="text" name="content" /></div>
              <button>추가</button>
            </form>
            <div class="d-flex">
              <div class="image-area">
                <img th:src="@{*{image}}" alt="" class="image-area-inner" />
              </div>
              <div>
                <div th:text="*{englishName}" class="english-name-area"></div>
                <div th:text="*{name}" class="name-area"></div>
                <div th:text="*{position}" class="position-area"></div>
              </div>
            </div>
            <div th:text="*{info}" class="info-area"></div>
            <div
              th:each="careers:${careersList}"
              th:object="${careers}"
              class="career-area"
              th:if="${careers.memberId}==${item.id}"
            >
              <span>[[*{title}]]</span>
              <span>[[*{universityName}]]</span>
              (
              <span th:if="*{start}!=null"
                >[[*{start.getYear()}+1900]].[[*{start.getMonth()}+1]] -</span
              >
              <span th:if="*{end}!=null"
                >[[*{end.getYear()}+1900]].[[*{end.getMonth()}+1]]</span
              >
              )
              <div
                th:if="${session.isLogin != null} and ${session.isManager == 1}"
              >
                <form action="/current/careerDelete" method="post">
                  <input type="hidden" name="id" th:value="*{id}" />
                  <button>삭제</button>
                </form>
              </div>
            </div>
            <div th:text="*{email}" class="email-area"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="sub-title-area">Undergraduate Students</div>
        <div>
          <div
            th:each="item:${undergraduateList}"
            th:object="${item}"
            class="graduate-area"
          >
            <form
              th:if="${session.isLogin != null} and ${session.isManager == 1}"
              action="/current/careerAdd"
              method="post"
            >
              <input type="hidden" name="memberId" th:value="*{id}" />
              <input name="title" type="text" placeholder="직책" />
              <select name="university" id="">
                <option
                  th:each="item:${universityList}"
                  th:object="${item}"
                  th:value="*{id}"
                >
                  [[*{content}]]
                </option>
              </select>
              <div>
                시작일 : <input type="month" name="start" /> 종료일 :
                <input type="month" name="end" />
              </div>
              <div>협력 : <input type="text" name="content" /></div>
              <button>추가</button>
            </form>
            <div class="d-flex">
              <div class="image-area">
                <img th:src="@{*{image}}" alt="" class="image-area-inner" />
              </div>
              <div>
                <div th:text="*{englishName}" class="english-name-area"></div>
                <div th:text="*{name}" class="name-area"></div>
                <div th:text="*{position}" class="position-area"></div>
              </div>
            </div>
            <div th:text="*{info}" class="info-area"></div>
            <div
              th:each="careers:${careersList}"
              th:object="${careers}"
              class="career-area"
              th:if="${careers.memberId}==${item.id}"
            >
              <span>[[*{title}]]</span>
              <span>[[*{universityName}]]</span>
              (
              <span th:if="*{start}!=null"
                >[[*{start.getYear()}+1900]].[[*{start.getMonth()}+1]] -</span
              >
              <span th:if="*{end}!=null"
                >[[*{end.getYear()}+1900]].[[*{end.getMonth()}+1]]</span
              >
              )
              <div
                th:if="${session.isLogin != null} and ${session.isManager == 1}"
              >
                <form action="/current/careerDelete" method="post">
                  <input type="hidden" name="id" th:value="*{id}" />
                  <button>삭제</button>
                </form>
              </div>
            </div>
            <div th:text="*{email}" class="email-area"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="sub-title-area">Visiting Students</div>
        <div>
          <div
            th:each="item:${visitingList}"
            th:object="${item}"
            class="graduate-area"
          >
            <form
              th:if="${session.isLogin != null} and ${session.isManager == 1}"
              action="/current/careerAdd"
              method="post"
            >
              <input type="hidden" name="memberId" th:value="*{id}" />
              <input name="title" type="text" placeholder="직책" />
              <select name="university" id="">
                <option
                  th:each="item:${universityList}"
                  th:object="${item}"
                  th:value="*{id}"
                >
                  [[*{content}]]
                </option>
              </select>
              <div>
                시작일 : <input type="month" name="start" /> 종료일 :
                <input type="month" name="end" />
              </div>
              <div>협력 : <input type="text" name="content" /></div>
              <button>추가</button>
            </form>
            <div class="d-flex">
              <div class="image-area">
                <img th:src="@{*{image}}" alt="" class="image-area-inner" />
              </div>
              <div>
                <div th:text="*{englishName}" class="english-name-area"></div>
                <div th:text="*{name}" class="name-area"></div>
                <div th:text="*{position}" class="position-area"></div>
              </div>
            </div>
            <div th:text="*{info}" class="info-area"></div>
            <div
              th:each="careers:${careersList}"
              th:object="${careers}"
              class="career-area"
              th:if="${careers.memberId}==${item.id}"
            >
              <span>[[*{title}]]</span>
              <span>[[*{universityName}]]</span>
              (
              <span th:if="*{start}!=null"
                >[[*{start.getYear()}+1900]].[[*{start.getMonth()}+1]] -</span
              >
              <span th:if="*{end}!=null"
                >[[*{end.getYear()}+1900]].[[*{end.getMonth()}+1]]</span
              >
              )
              <div
                th:if="${session.isLogin != null} and ${session.isManager == 1}"
              >
                <form action="/current/careerDelete" method="post">
                  <input type="hidden" name="id" th:value="*{id}" />
                  <button>삭제</button>
                </form>
              </div>
            </div>
            <div th:text="*{email}" class="email-area"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="sub-title-area">Administrative Staff</div>
        <div>
          <div
            th:each="item:${administrativeList}"
            th:object="${item}"
            class="graduate-area"
          >
            <form
              th:if="${session.isLogin != null} and ${session.isManager == 1}"
              action="/current/careerAdd"
              method="post"
            >
              <input type="hidden" name="memberId" th:value="*{id}" />
              <input name="title" type="text" placeholder="직책" />
              <select name="university" id="">
                <option
                  th:each="item:${universityList}"
                  th:object="${item}"
                  th:value="*{id}"
                >
                  [[*{content}]]
                </option>
              </select>
              <div>
                시작일 : <input type="month" name="start" /> 종료일 :
                <input type="month" name="end" />
              </div>
              <div>협력 : <input type="text" name="content" /></div>
              <button>추가</button>
            </form>
            <div class="d-flex">
              <div class="image-area">
                <img th:src="@{*{image}}" alt="" class="image-area-inner" />
              </div>
              <div>
                <div th:text="*{englishName}" class="english-name-area"></div>
                <div th:text="*{name}" class="name-area"></div>
                <div th:text="*{position}" class="position-area"></div>
              </div>
            </div>
            <div th:text="*{info}" class="info-area"></div>
            <div
              th:each="careers:${careersList}"
              th:object="${careers}"
              class="career-area"
              th:if="${careers.memberId}==${item.id}"
            >
              <span>[[*{title}]]</span>
              <span>[[*{universityName}]]</span>
              (
              <span th:if="*{start}!=null"
                >[[*{start.getYear()}+1900]].[[*{start.getMonth()}+1]] -</span
              >
              <span th:if="*{end}!=null"
                >[[*{end.getYear()}+1900]].[[*{end.getMonth()}+1]]</span
              >
              )
              <div
                th:if="${session.isLogin != null} and ${session.isManager == 1}"
              >
                <form action="/current/careerDelete" method="post">
                  <input type="hidden" name="id" th:value="*{id}" />
                  <button>삭제</button>
                </form>
              </div>
            </div>
            <div th:text="*{email}" class="email-area"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
