a {
  text-decoration: none;
  color: black;
}

.header-area {
  padding-top: 20px;
  background-color: white;
}

.header-menu {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  flex-wrap: wrap;
  overflow: hidden;
  height: 28px;
  margin-top: 20px;
}

.header-menu:hover {
  transition: 0.3s ease-out;
  height: 225px;
}
.header-menu:not(:hover) {
  transition: 0.3s ease-out;
}

.header-menu-hidden {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
}
.header-menu-hidden-text:hover {
  color: blue;
  border-bottom: 1px solid;
}

.header-hr {
  border: 1px solid #071a4c;
  margin-bottom: 0;
}
.big-header-menu {
  margin-bottom: 30px;
}
