<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="galleryAddFragmentHead">
    <link rel="stylesheet" href="/styles/gallery/add.css" />
  </head>
  <body>
    <div th:fragment="galleryAddFragment">
      <form action="/galleryBoard/add" method="post" class="container">
        <input type="hidden" name="memberId" th:value="${session.isLogin.id}" />
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            name="title"
            id="floatingInput"
            placeholder="제목"
          />
        </div>

        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            name="content"
            placeholder="글"
            id="floatingTextarea"
          ></textarea>
        </div>

        <a href="/galleryBoard/add">
          <button class="btn btn-primary">글올리기</button>
        </a>
      </form>
      <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
      <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/translations/ko.js"></script>
      <script>
        ClassicEditor.create(document.getElementById("floatingTextarea"), {
          language: "ko",
          ckfinder: { uploadUrl: "/upload" },
        });
      </script>
    </div>
  </body>
</html>
