<!DOCTYPE html>
<html>
  <head th:fragment="bannerFragmentHead">
    <link rel="stylesheet" href="/styles/banner.css" />
  </head>
  <body>
    <div
      th:fragment="bannerFragment"
      class="banner-area container"
      th:style="'background-image:url('+ @{'/images/banner/' + ${bannerBundle} + '.jpg'} +')'"
    >
      <div class="banner-text-area">
        <div class="banner-big-text" th:text="${bannerBundle}"></div>
        <div class="banner-small-text">Soft and Hybrid Nanomaterials Lab</div>
      </div>
      <div class="move-button-area">
        <div class="move-button-area-inner">
          <div class="banner-bundle-area">
            <div>
              [[${bannerBundle}]]
              <img src="/images/banner/downIcon.png" alt="" />
            </div>
            <ul class="main-drop-area">
              <li>News</li>
              <li>Professor</li>
              <li>Members</li>
              <li>Researches</li>
              <li>Publications</li>
              <li>Lectures</li>
              <li>Gallery</li>
              <li>Links</li>
              <li>Sitemap</li>
            </ul>
          </div>

          <div class="banner-move-area" id="banner-move-area">
            <div>[[${title}]]</div>
            <ul class="sub-drop-area">
              <a href="/news">
                <li>News</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/professor">
                <li>Professor</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/current">
                <li>Current</li>
              </a>
              <a href="/alumni">
                <li>Alumni</li>
              </a>
              <a href="/future_prospective">
                <li>Future prospective</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/groupMissionStatement">
                <li>Group mission statement</li>
              </a>
              <a href="/researchTopics">
                <li>Research topics</li>
              </a>
              <a href="/instruments">
                <li>Instruments</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/journals">
                <li>Journals</li>
              </a>
              <a href="/patents">
                <li>Patents</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/lectures">
                <li>Lectures</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/galleryBoard">
                <li>Gallery</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/links">
                <li>Links</li>
              </a>
              <a href="/collaborations">
                <li>Collaborations</li>
              </a>
              <a href="/funding_sources">
                <li>Funding sources</li>
              </a>
            </ul>
            <ul class="sub-drop-area">
              <a href="/sitemap">
                <li>Sitemap</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <script src="/scripts/banner.js"></script>
    </div>
  </body>
</html>
