<!DOCTYPE html>
<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerFragmentHead">
    <link rel="stylesheet" href="/styles/header.css" />
  </head>
  <body>
    <div th:fragment="headerFragment" class="header-area fixed-top">
      <div
        class="d-flex justify-content-between align-items-center px-2 container"
      >
        <div>
          <a href="/"
            ><img src="/images/header/left_logo.png" alt="대학로고"
          /></a>
        </div>
        <div>
          <img src="/images/header/three_bar.png" alt="메뉴" />
          <img src="/images/header/right_logo.png" alt="연구실로고" />
        </div>
      </div>
      <div class="header-menu d-flex justify-content-between px-5 container">
        <div>
          <a href="/news">
            <div class="big-header-menu">News</div>
          </a>
          <a href="/news">
            <div class="header-menu-hidden">News</div>
          </a>
        </div>
        <div>
          <div class="big-header-menu">Professor</div>
          <div class="header-menu-hidden">Professor</div>
        </div>
        <div>
          <div class="big-header-menu">Members</div>
          <div>
            <div class="header-menu-hidden">Current</div>
            <div class="header-menu-hidden">Alumni</div>
            <div class="header-menu-hidden">Future<br />prosepective</div>
          </div>
        </div>
        <div>
          <div class="big-header-menu">Researches</div>
          <div>
            <div class="header-menu-hidden">Group mission<br />statement</div>
            <div class="header-menu-hidden">Research topics</div>
            <div class="header-menu-hidden">Instruments</div>
          </div>
        </div>
        <div>
          <div class="big-header-menu">Publications</div>
          <div>
            <div class="header-menu-hidden">Journals</div>
            <div class="header-menu-hidden">Patents</div>
          </div>
        </div>
        <div>
          <div class="big-header-menu">Lectures</div>
          <div class="header-menu-hidden">Lectures</div>
        </div>
        <div>
          <div class="big-header-menu">Gallery</div>
          <div class="header-menu-hidden">Gallery</div>
        </div>
        <div>
          <div class="big-header-menu">Links</div>
          <div>
            <div class="header-menu-hidden">Links</div>
            <div class="header-menu-hidden">Collaborations</div>
            <div class="header-menu-hidden">Funding<br />sources</div>
          </div>
        </div>
      </div>
      <hr class="header-hr" />
    </div>
  </body>
</html>
