<!DOCTYPE html>
<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerFragmentHead">
    <link rel="stylesheet" href="/styles/header.css" />
  </head>
  <body>
    <div th:fragment="headerFragment" class="header-area fixed-top">
      <div
        class="d-flex justify-content-between align-items-center px-2 container"
      >
        <div>
          <a href="/"
            ><img src="/images/header/left_logo.png" alt="대학로고"
          /></a>
        </div>
        <div>
          <img src="/images/header/three_bar.png" alt="메뉴" />
          <img src="/images/header/right_logo.png" alt="연구실로고" />
        </div>
      </div>
      <div class="header-menu d-flex justify-content-between px-5 container">
        <div>
          <a href="/news">
            <div class="big-header-menu">News</div>
          </a>

          <div class="header-menu-hidden">
            <a href="/news" class="header-menu-hidden-text">News</a>
          </div>
        </div>
        <div>
          <a href="/professor">
            <div class="big-header-menu">Professor</div>
          </a>

          <div class="header-menu-hidden">
            <a href="/professor" class="header-menu-hidden-text">Professor</a>
          </div>
        </div>
        <div>
          <a href="/current">
            <div class="big-header-menu">Members</div>
          </a>
          <div>
            <div class="header-menu-hidden">
              <a href="/current" class="header-menu-hidden-text">Current</a>
            </div>
            <div class="header-menu-hidden">
              <a href="/alumni" class="header-menu-hidden-text">Alumni</a>
            </div>
            <div class="header-menu-hidden">
              <a href="/future_prospective" class="header-menu-hidden-text"
                >Future<br />prospective</a
              >
            </div>
          </div>
        </div>
        <div>
          <a href="/groupMissionStatement">
            <div class="big-header-menu">Researches</div>
          </a>
          <div>
            <div class="header-menu-hidden">
              <a href="/groupMissionStatement" class="header-menu-hidden-text"
                >Group mission<br />statement</a
              >
            </div>
            <div class="header-menu-hidden">
              <a href="/researchTopics" class="header-menu-hidden-text"
                >Research topics</a
              >
            </div>
            <div class="header-menu-hidden">
              <a href="/instruments" class="header-menu-hidden-text"
                >Instruments</a
              >
            </div>
          </div>
        </div>
        <div>
          <a href="">
            <div class="big-header-menu">Publications</div>
          </a>
          <div>
            <div class="header-menu-hidden">
              <a class="header-menu-hidden-text">Journals</a>
            </div>
            <div class="header-menu-hidden">
              <a class="header-menu-hidden-text">Patents</a>
            </div>
          </div>
        </div>
        <div>
          <a href="">
            <div class="big-header-menu">Lectures</div>
          </a>
          <div class="header-menu-hidden">
            <a class="header-menu-hidden-text">Lectures</a>
          </div>
        </div>
        <div>
          <a href="">
            <div class="big-header-menu">Gallery</div>
          </a>
          <div class="header-menu-hidden">
            <a class="header-menu-hidden-text">Gallery</a>
          </div>
        </div>
        <div>
          <div class="big-header-menu">Links</div>
          <div>
            <div class="header-menu-hidden">
              <a class="header-menu-hidden-text">Links</a>
            </div>
            <div class="header-menu-hidden">
              <a class="header-menu-hidden-text">Collaborations</a>
            </div>
            <div class="header-menu-hidden">
              <a class="header-menu-hidden-text">Funding<br />sources</a>
            </div>
          </div>
        </div>
      </div>
      <hr class="header-hr" />
    </div>
  </body>
</html>
