.sub-title-area {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #003777;
}
.item-area {
  font-size: 18px;
  padding-bottom: 30px;
}
.item-area-inner {
  display: inline-block;
  font-size: 18px;
}
.image-area-inner {
  width: 200px;
  height: 48px;
}
