.out-div {
  text-align: center;
}

.item-area p {
  display: none;
}
.item-area {
  display: inline-block;
  width: 30%;
  text-align: center;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #cdd0d3;
  border-radius: 15px;
  height: 97px;
  line-height: 87px;
}
