<!DOCTYPE html>
<html>
  <head th:fragment="newsFragmentHead">
    <link rel="stylesheet" href="/styles/news/index.css" />
  </head>
  <body>
    <div th:fragment="newsFragment" class="container">
      <form action="" class="news-search-bar">
        <input type="text" />
        <button>검색</button>
      </form>
      <table class="table">
        <thead class="table-group-divider">
          <tr>
            <th scope="col">번호</th>
            <th scope="col">카테고리</th>
            <th scope="col">제목</th>
            <th scope="col">등록일</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item:${list}" th:object="${item}">
            <th scope="row" th:text="*{id}"></th>
            <td class="category-area" th:text="*{category}"></td>
            <td class="table-title">
              <a th:href="@{/news/{id}(id=*{id})}" th:text="*{title}"></a>
            </td>
            <td th:text="*{createdAt}"></td>
            <td th:text="*{views}"></td>
          </tr>
        </tbody>
      </table>
      <a href="/news/add">
        <button>글쓰기</button>
      </a>
      <div class="d-flex justify-content-center">
        <nav
          aria-label="Page navigation example"
          th:with="nowPage=${#numbers.formatInteger(param.page !=null ? param.page:1,1)}"
        >
          <ul class="pagination">
            <li class="page-item" th:if="${nowPage}>1">
              <a
                class="page-link"
                th:href="@{/news(page=${nowPage-1})}"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li
              th:each="page :${#numbers.sequence(1,pageCount)}"
              class="page-item"
            >
              <a class="page-link" th:href="@{/news(page=${page})}"
                >[[${page}]]</a
              >
            </li>

            <li class="page-item" th:if="${nowPage} != ${pageCount}">
              <a
                class="page-link"
                th:href="@{/news(page=${nowPage}+1)}"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
