.sub-title-area {
  font-size: 18px;
  padding-bottom: 30px;
}
.topic-area {
  padding: 10px;
  width: 20%;
  border: 1px solid;
  text-align: center;
  border-top-left-radius: 49px;
  border-bottom-left-radius: 49px;
  border-color: #cdd0d3;
}
.coc-area {
  padding: 10px;
  border: 1px solid;
  width: 20%;
  text-align: center;
  border-color: #cdd0d3;
}
.nano-area {
  padding: 10px;
  border: 1px solid;
  width: 35%;
  text-align: center;
  border-color: #cdd0d3;
}
.other-area {
  padding: 10px;
  border: 1px solid;
  width: 25%;
  text-align: center;
  border-top-right-radius: 49px;
  border-bottom-right-radius: 49px;
  border-color: #cdd0d3;
}

.click-on {
  background-color: #003777;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.item-title-area {
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  border-left: solid 8px #003777;
}

.item-content-area {
  padding-left: 25px;
  font-size: 18px;
  color: #333;
}

.item-content-area figure {
  border: 1px solid #cdd0d3;
  text-align: center;
  padding: 33px 0 23px;
  border-radius: 15px;
}

.non-title-content-area {
  text-align: center;
}
